<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215566920705-6pmqoues35aallcrl1ulauhga9maqjmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215566920705-6pmqoues35aallcrl1ulauhga9maqjmk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>215566920705-7otru2efku08so92g61ps2lcbfr2rb82.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAalE3WbWDVdSbvs7OlA0E0J5WzVMgQpmg</string>
	<key>GCM_SENDER_ID</key>
	<string>215566920705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sincerelysea</string>
	<key>PROJECT_ID</key>
	<string>sincerelysea-bk10gx</string>
	<key>STORAGE_BUCKET</key>
	<string>sincerelysea-bk10gx.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215566920705:ios:f5ead1c5fbfd770586a400</string>
	<key>DATABASE_URL</key>
	<string>https://sincerelysea-bk10gx-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>